.alert-container {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

.alert-success {
   --bs-alert-color: #ffffff;
   --bs-alert-bg: #bc0000;
   --bs-alert-border-color: #bc0000;
   opacity: 1;
   animation: vanishAlert 2s ease-out;
}

@keyframes vanishAlert {
   30% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
