.product-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.7rem;
}
.product {
   padding: 1rem;
   background-color: var(--clr-white);
   box-shadow: var(--clr-light) 0px 2px 8px 0px;
}
@media (min-width: 480px) {
   .product-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (min-width: 960px) {
   .product-list {
      grid-template-columns: repeat(4, 1fr);
   }
}

.product__img-container {
   width: 100%;
   overflow: hidden;
}
.product__img-container .product__img {
   object-fit: cover;
}
.product__info {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.product-description {
   flex: 1 1 auto;
}
